.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1876f2;
    position: sticky;
    top: 0;
    z-index: 100;
}
.nav-right img{
    display: flex;
    width: 28px;
    align-items: center;
}
.banner ul li a img{
    width: 40px;
    margin: 0 15px;
    margin-left: 20px;
    border-radius: 100px;
}
.nav-right{
    display: flex;
    align-items: center;
}
.nav-right .input-group{
    margin-right: 30px;
}
.nav-right .nav-message-icon img{
    width: 46px;
    cursor: pointer;
    margin-right: 20px;
    border-radius: 100px;

}
.nav-right .nav-user-icon img{
    width: 50px;
    cursor: pointer;
    margin-right: 5px;
    border-radius: 100px;
}
.input-post-container{
    width: 90%;
    height: 100vh;
    margin-left: 5%;
    margin-right: 5%;
    background: #333333;
}
.input-group .input-group-text{
    margin-top: 1%;
}
.input-post-container .input-group .input-group-text p{
    margin-top: 2vh;
}


